.ha__rooms {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 10px;
  margin-top: 2rem;
}

.ha__room .ha__room-link {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border: 2px solid #dc1d79;
  background-color: #dc1d79;
  padding: 0.5rem 1.5rem;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  transition: all .3s ease-in;
}

.ha__room:hover .ha__room-link {
  background-color: transparent;
  color: #dc1d79;
}

@media screen and (max-width: 860px) {
  .ha__rooms {
    grid-template-columns: repeat(2, 1fr);
  }  
}

@media screen and (max-width: 600px) {
  .ha__rooms {
    grid-template-columns: repeat(1, 1fr);
  }  
}