.ha-hotel-room-info{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(49%, 1fr));
  gap: 3px;
}


.ha-room-info {

  font-size: 13px;
  padding: 16px 20px;
  color: #888888;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;

}



span.ha-head {

  font-weight: bold;

  margin-right: 10px;

  font-size: 15px;

}



span.ha-tail {

  font-style: italic;

  font-size: 15px;

  color: #c650cc;

}

@media screen and (max-width: 1024px) {
  .ha-room-info {
    flex-wrap: wrap;
  }
}